@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* width: 1933px; */
}

nav {
    /* max-width: 1280px; */
}

h1{
    /* width: 600px; */
    font-size: 64px;
line-height: 72px;
/* or 112% */

letter-spacing: -0.03em;

color: #1D3444;
}

a{
    text-decoration: none;
}

header {
    /* height: 703px; */
   background-color:#DCEAF5 ;
    /* width: 1480px; */
}

section {
    /* width: 1933px; */
}

#navbar {
    padding: 24px;
    display: flex;
    justify-content: space-evenly;
}

h2{font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */
    
    letter-spacing: -0.03em;
    
    color: #1D3444;}

  

h3 {

    font-weight: 600;
font-size: 36px;
/* line-height: 44px; */
/* or 122% */

/* letter-spacing: -0.03em; */

color: #0D1317;

}

p{padding: 12px;
    align-items: center;
    font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */
/* width: 600px; */
color: #5B5B5B;
}

img{
    background-position: center;
    background-size: cover;

}

h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
    /* identical to box height, or 26px */
    
    letter-spacing: -0.03em;
    
    color: #0D1317;
    width: 572px;

}

.section-color {
    background-color: #DCEAF5;
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    /* padding: 0px ; */
    justify-content: space-evenly;
}

#navbar ul li a {
    color: #394149;
    font-size: 16px;
    padding: 0px 24px;

}

#navbar a :last-child{
color:#F58A07 ;
/* padding: 18px 30px 17px 29px; */
border-radius: 31px;
background: rgba(245, 138, 7, 0.1);
border: none;
}

.container{
   /* width: 1933px; */
   max-width: 1280px;
   margin: 0 auto;
}
.header-section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.Image1{
    /* background-position: center; */
    /* background-size: cover; */
    /* width: 747px; */
    /* height: 616px; */

}
.Image1 img {
    display: block;
}

.flex1 {
    display: flex;
   justify-content: space-between;
   /* gap: 20px; */
}

.flex1 ul {
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}

.flex1 ul li {
    
    
    margin: 32px 0px 52px 0px;
}

.flex1 ul li :first-child {
    padding:18px 32px ;
    /* width: 199px; */
height: 54px;
/* left: 320px; */
/* top: 449px; */

background: #F58A07;
border-radius: 27px;
border: none;
}

.flex2 {
    display: flex;
    justify-content: space-between;
    margin: 27px;
}


.title1 {
    /* display: flex; */
    /* align-items: center; */


}
.title2{
    /* display: flex; */
}
.section-1 h1{
    /* margin : 96px 865px 27px 320px; */
    /* width: 935px; */

}
.section-1 p {
    /* width:935px ; */
    /* margin: 0px 865px 64px 320px ; */
}

.container-item { display: flex;
    justify-content: space-evenly;
    /* width: 1933px; */
    /* flex-wrap: wrap; */
    
}
.container-item img {
    border-radius: 20px;

}

h5 {
    color: #0D1317;
    font-weight: 500;
font-size: 24px;
line-height: 106.5%;
/* or 26px */

letter-spacing: -0.03em;
margin: 33px 0px 17px 0px;

}

.container-item p {
    width: 400px;
}

.container-item a{
    font-weight: 500;
font-size: 16px;
line-height: 106.5%;
/* identical to box height, or 17px */


color: #F58A07;
}

.container-1 {
    /* width: 1933px; */
    height: 703px;
    background-color:#DCEAF5 ;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    /* align-items: center; */
}

.container-1 {
    margin: 96px 0px 97px 0px;
}

.container-1 .item-1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */
    
    letter-spacing: -0.03em;
    
    color: #0D1317;
    width: 700px;
}

.container-1 .item-2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    
    
    color: #1D3444;
    width: 700px;
}

.Container-2 {
    display: flex;
    justify-content: center;
    
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.Container-2 h4 {
    font-size: 48px;
line-height: 56px;
/* or 117% */

letter-spacing: -0.03em;

color: #0D1317;
width: 596px;
}

.Container-2 p {
    width: 500px;
}

.flex h5 { 
    font-weight: 700;
font-size: 36px;
line-height: 50px;
/* identical to box height, or 139% */


color: #F58A07;

}

.flex h4 {
    font-weight: 600;
font-size: 24px;
line-height: 106.5%;
/* identical to box height, or 26px */

letter-spacing: -0.03em;

color: #0D1317;
}

.flex div {
    width: 300px;
}

.flex div p {
    width: 250px;
}

.img-box {
    position: relative;
}

.box{
    height: 667px;
    width: 153px;
    background-color: #F58A07;
    position: absolute; 
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.7;
}

.container-3 {
    display: flex;
    /* width:1275px ; */
    /* height: 682px; */
    background-color: 
    #EDF7FF;
    justify-content: space-evenly;
    /* margin: 85px 325px 128px 320px; */
    /* border-radius: 20px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-content: space-around; */
}

.btn {
    border-radius: 31px;
    padding: 8px 24px;
    border:0;
    cursor: pointer;
}

.btn-orange {
    
    color: #F58A07;
    background-color: #fff;
}

.btn-transparent {
    background-color: transparent;
    color: rgba(6, 50, 85, 0.3);
    border: 1px solid rgba(6, 50, 85, 0.3);
}

.container-item1 {
    display: flex;
    /* justify-content: flex-start; */
    
    
}

.container-item1 ul {
    list-style: none;
    /* display: inline; */
    display: flex;
    justify-content: space-between;
    padding: ;
    margin: 48px 24px 80px 48px;
}

.container-item1 ul li {
    margin: 0px 24px;
    padding: 8px 24px;
    border-radius: 31px;
    background-color: none;
    color: rgba(6, 50, 85, 0.3);
    
}

.container-item1 ul li button :first-child {
    color: #DCEAF5;
}

.container-flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.container-4 {
    /* width: 1920px; */
    height: 518px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    

}

.container-4 {
    /* width: 1920px; */
    height: 518px;
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    
}

.container-img {
    /* width: 50%; */
    flex: 1;
    /* width: 960px; */
    /* height: 518px; */
    
}

.container-img img {
    width: 100%;
    height: 518px;


}

.container-4  div:last-child h4 {
    color: white;

}

.container-box {
    display: flex;
    align-items: center;
    background-color: #0D1317;
    flex-direction: column;

}

.container-5 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 128px auto;

}

.container-title {
    flex: 1;
}

.container-5 h3 {
    color:#0D1317;
    font-size: 48px;
line-height: 56px;
/* or 117% */

letter-spacing: -0.03em;
text-transform: capitalize;
width: 550px;

}

.container-5 p {
    /* width: 550px; */
    /* margin: 24px auto; */
}

.container-img img {
    flex: 1;

}

.c-1 {
    display: flex;
    justify-content: space-between;
}


.c-1 h3 {
    font-weight: 500;
font-size: 24px;
line-height: 171%;
/* identical to box height, or 41px */


color: #063255;

}

.c-1 h4 {
    font-weight: 500;
font-size: 18px;
line-height: 171%;
/* identical to box height, or 31px */


color: #F58A07;

}

.container-item6 {
    display: flex;
    justify-content: center;
}

.container-item6 h5 {
    font-weight: 600;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

letter-spacing: -0.03em;
text-transform: capitalize;

color: #0D1317;
width: 400px;

}

.container-item6 div {
    width: 453px;
}


.header-section h1 {
    width: 618px;
/* height: 216px; */
left: 320px;
top: 308px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */

letter-spacing: -0.03em;

color: #1D3444;

}

.header-section p {
    width: 510px;
/* height: 59px; */
left: 320px;
top: 548px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #5B5B5B;
}

.header-section button {
    color: #ffffff;
    padding: 18px 32px;
    width: 171px;
height: 54px;
left: 320px;
top: 639px;

background: #F58A07;
border-radius: 27px; 
cursor: pointer;
border: none;
}

.header-section {
    background-color: #fff;
    margin: 20px 20px;
}


.section1 {
    margin: 20px 50px;

}

.header-section h3 {
    width: 410px;
height: 56px;
left: 1017px;
top: 1044px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

letter-spacing: -0.03em;

color: #0D1317;

}

.header-section ul li {
    width: 334px;
    height: 28px;
    left: 1031px;
    top: 1274px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    
    
    color: #5B5B5B;

}

.section-2 {
    margin: 20px 50px;
}


 .header-section h2 {
    width: 550px;
height: 112px;
left: 320px;
top: 4422px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* or 117% */

letter-spacing: -0.03em;
text-transform: capitalize;

color: #0D1317;
 }

 .c2 {
    display: flex;
 }

 .c2 div {
    margin:10px
 }

 .c2 h4 {
    width: 145px;
height: 41px;
left: 424px;
top: 4694px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 171%;
/* identical to box height, or 41px */


color: #063255;

 }

 .c2 h5 {
    width: 129px;
height: 31px;
left: 424px;
top: 4731px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 171%;
/* identical to box height, or 31px */


color: #F58A07;

 }

 .section3 {
    /* width: 1920px; */
    height: 819px;
    left: 0px;
    top: 4973px;
    
    /* background: #DCEAF5; */


 }

 .container-item {
    margin:;
 }

 .section3-1 {
    margin: 40px;
 }
 

 .section-7 {
    background-color:#DCEAF5;;
 }


 .section8 {
    display: flex;
    flex-direction: row;
    align-content: center;
 }

 .section8 div {
    width: 400px;
height: 181px;
left: 320px;
top: 1074px;

background: rgba(193, 228, 255, 0.3);
border-radius: 20px;
 }


 .header-1 {
    display: flex;
    align-items: center; 
    height: 817px;
 }  

 .header-1 h1 {

width: 527px;
height: 216px;
left: 319px;
top: 301px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 72px;
/* or 112% */

letter-spacing: -0.03em;

color: #1D3444;
 }

 .header-1 h5 {
    width: 222px;
height: 32px;
left: 507px;
top: 245px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */


color: #394149;

opacity: 0.87;

 }

 .header-1 p {
    width: 559px;
height: 90px;
left: 319px;
top: 541px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 30px;
/* or 167% */


color: #5B5B5B;

 }

 .header-1 a {
    width: 86px;
height: 17px;
left: 319px;
top: 655px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 106.5%;
/* identical to box height, or 17px */


color: #F58A07;

 }

 .header-1 img {
    
    width: 700px;
height: 493px;
left: 866px;
top: 212px;

background: url(.png);
border-radius: 20px;
 }
  

.section-9 {
    background-color: #ffffff;
}


.item-1 {
    background: #EDF7FF;
}



















    



